.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;

  @media (width <=425px) {
    position: relative;
  }
}

.maxWidthWrapper {
  @media (width > 425px) {
    isolation: isolate;
  }
}

.header {
  padding-bottom: 64px;
  width: 65%;

  @media (width <=425px) {
    width: 100%;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.perspectiveDecorator {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: hsl(195deg, 20%, 86%);

  @media (width <=425px) {
    display: none;
  }
}

.characterWrapper {

  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  min-height: auto;

  @media (width > 425px) {
    position: fixed;
    top: 10%;
    left: 55%;
    bottom: 5%;
    min-height: 500px;
  }
}

.controlColumn {
  width: 50%;

  @media (width <=425px) {
    position: absolute;
    left: 0;
    bottom: 15%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    padding-inline: 32px;
    z-index: 1;
    scrollbar-width: none;

    scroll-snap-type: x mandatory;

    >* {
      scroll-snap-align: center;
    }
  }
}